<div>
{% paginate collection.products by 12 %}

{% if collection.description.size > 0 %}
<div class="sixteen columns st40">
<div class="rte sb30">
  {{ collection.description }}
</div>
</div>
{% endif %}

<div class="product-grid sb30 clearfix">
{% for product in collection.products %}
  {% include 'product-grid' with 'three-per-row' %}
{% else %}
<p>There are no products in this view.</p>
{% endfor %}
</div>

{% if paginate.pages > 1 %}
<div id="pagination" class="sb30">
  {{ paginate | default_pagination }}
</div>
{% endif %}

{% endpaginate %}
</div>

<script>
  (function() {    
    var products = {{ collection.products | json }};
    if(products != null && products.length > 0){
      jQuery.each(products, function(index, product){
        var quantity = 1;
        $("#item-quantity_"+product.id).bind('keyup input', function (e){
          quantity = $("#item-quantity_"+product.id).val();
        });

        $("#add_"+product.id).on("click", function (){
          if($.isNumeric(quantity) && quantity > 0){
            Shopify.addItem(product.variants[0].id, quantity);
          }else{
            alert("You must select a valid quantity!");
            return;
          }
        });
      });
    };
  })();
</script>