<div id="product-reorder">
	<input type="submit" name="reorder" id="reorder" value="Re-Order This" class="button primary">
</div>
<script>
	jQuery(function($) {
		$( "#product-reorder" ).on("click", function() {
			var jsonLineItems = {{ line_items | json }};
			if(jsonLineItems != null && jsonLineItems.length > 0){
				var count = 0;
				jQuery.each(jsonLineItems, function(index, item){
					Shopify.addItem(item.variant_id, item.quantity, function(returnValue){
						count++;
						Shopify.onItemAdded(returnValue);
						if(count == jsonLineItems.length){
							setTimeout(function(){
								console.log("Count: " + count + "Line Items: " + jsonLineItems.length);
							  	window.location.href = "/cart"
  							}, 2000);
						}
					});
				});
			}
		});
	});
</script>